body {
    background-color: #F5F5F5;
    font-family: /*"tahoma",*/ "Segoe UI", "DejaVu Sans", sans-serif;
	font-size: 14px;
    margin: 0px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    
    background-color: #303030;
    color: #FFFFFF;
}

footer {
    width: 100%;
	/*background-color: #333;
	color: #FFF;*/
    padding: 10px;
    text-align: center;
    background-color: #FFFFFF;
	display: block;
    font-size: 12px;
    border-top: solid 2px #F5F5F5;
    color: #3F3F3F;
    position: fixed;
    left: 0;
    bottom: 0;
}

footer ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	vertical-align: center;
}

footer li {
	display: inline-block;
	float: none;
	width: auto;
	padding: 0.5em;
}

footer a {
	display: block;
	color: white;
	text-decoration: none;
}

pre {
    border: solid 1px #BFBFBF;
    padding: 5px;
}

code {
    border: solid 1px #EFEFEF;
    padding: 1px;
}

samp {
    font-weight: bold;
}

kbd {
    font-style: italic;
}

p {
    line-height: 1.5;
}

ul {
    line-height: 1.5;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: white;*/
    /*background-color: #303030;*/
    text-align: center;
}

li.navbar {
    display: inline-block; 
}

a.navbar {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    border-bottom: none;
}

a.navbar:hover { 
    background-color: #404040; 
}

span.navbar {
    padding: 16px;
}

td {
    vertical-align: top;
}

.content {
    padding: 25px;
}

.treenav h3 {
    text-align: center;
}

.treenav {
    border: solid 1px #7F7F7F;
    display: inline-block;
    width: 200px; /* Set the width of the sidebar */
    background-color: #FFFFFF; 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: 10px;
}

.treenav ul {
    list-style-type: none;
}

.treenav a {
    text-decoration: none;
    color: black;
}

a {
    color: #3366CC;
}

main {
    margin-top: 75px;
    margin-bottom: 50px;
    /*width: 75%;*/
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: #FFFFFF;
}

.cont {
	width: 30%;
    margin: 0 auto;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
}

hr {
	border-style: solid;
	border-width: 1px;
	border-color: #E5E5E5;
	width: 100%;
}

label {
	padding-top: 5px;
}
